
#progressDiv {
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 0px;
}

#progressMsg {
    text-align:center; 
    margin-left:auto;
    margin-right:auto; 
    margin-top:10px; 
    margin-bottom:10px; 
    font-weight: bold;
}

#showMsg1 {
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    margin-top:15px; 
    margin-bottom:20px;
    font-weight: bold;
    color: #003d79;
    background-color: lightblue;
    font-size:1.3em;
}

#showMsg2 {
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    margin-top:20px; 
    margin-bottom:30px;
    font-weight: bold;
    background-color: #ffecec;
    color:#600030;
    font-size:1.3em;
}

#faceCompareDiv {
    display: flex; 
    flex-direction: row;
    margin-left:auto; 
    margin-right:auto;
    margin-top:30px;
    width: 300px;
}

#selfFaceImage {
    margin-left:auto; 
    margin-right:auto;
    border: 5px solid #01814a;
}

#comparedFaceImage {
    margin-left:auto; 
    margin-right:auto;
}

#restartButton {
    clear: both;
    margin-top: 50px;
    margin-left:15px; 
    margin-right:35px;
    width: 100px;
}

#recomparedButton {
    clear: both;
    margin-top: 50px;
    margin-left:35px;
    width: 100px;
    background-color: #408080;
}

#chooseCameraDiv {
    width: 400px; 
    margin-left: auto; 
    margin-right: auto;
}

#panelDiv {
    position: relative;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

#localCanvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
}

#localVideo {
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 400px;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 2s;
    opacity: 0;
}

#takeSnapshotButton {
    clear: both;
    margin-top: 5px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    width: 155px;
}

#photoList {
    width:850px;
    margin-top: 85px;
    margin-left:auto;
    margin-right:auto;
    
}

.photodiv {
    float: left;
    margin-right: 10px;
}

.removePhotoButton {
    float: right;
    top: 0px;
    margin: auto;
    background-color:#FF5151;
    border: none;
    /*border-radius:10px;*/
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    width: 21px;
    height: 17px;
    z-index: 10;
}

@media (max-width: 850px){ 
    #photoList {width: 100%;}
}

@media screen and (min-width: 1024px) and (orientation: landscape){
    body, html{
        height: 100%;
        background-color:#d1e9e9;
    }

    #bgv {
        width: 1010px;
        height: 95%;
        border: 1px solid #adadad;
        margin-left: auto;
        margin-right: auto;
        background-color:#ffffff;
        box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
        border-radius:10px;
    }
}
